@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply tracking-wider text-textColor font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a span,
button {
  @apply font-primary;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  @apply bg-mainBg;
}

.container {
  @apply max-w-full xl:max-w-[1200px] transition-all duration-300;
}

.social-icon-link:hover .social-icon::after {
  @apply opacity-0;
}

.social-icon::after {
  content: "";
  @apply border border-white absolute inset-[2px] transition-all duration-300 z-[2];
}

/* box shadows */
.post {
  -webkit-box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%),
    0 22px 27px -30px rgb(7 10 25 / 10%);
  box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%),
    0 22px 27px -30px rgb(7 10 25 / 10%);
}

.tag {
  -webkit-box-shadow: 0px 2px 6px rgb(75 72 112 / 15%);
  box-shadow: 0px 2px 6px rgb(75 72 112 / 15%);
}

.newsletter {
  -webkit-box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 7%);
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 7%);
}

.input-shadow {
  -webkit-box-shadow: 0 3px 5px -2px rgb(7 10 25 / 20%);
  box-shadow: 0 3px 5px -2px rgb(7 10 25 / 20%);
}

.shadow-2 {
  -webkit-box-shadow: 0px 3px 5px -1px rgb(7 10 25 / 20%);
  box-shadow: 0px 3px 5px -1px rgb(7 10 25 / 20%);
}

.navbar {
  -webkit-box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 7%);
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 7%);
}

.nav__mobile {
  -webkit-box-shadow: 0 3px 12px -1px rgb(7 10 25 / 20%),
    0 22px 27px -20px rgb(7 10 25 / 20%);
  box-shadow: 0 3px 12px -1px rgb(7 10 25 / 20%),
    0 22px 27px -20px rgb(7 10 25 / 20%);
}

.Fixed{
  background-color: palevioletred;
  text-align: center;
  width: 150px;
  padding: 10px;
  color: #eee;
  position: fixed;
  left: 25px;
  bottom: 10px;
  cursor: pointer;
  z-index: 10000;
}